/** Search view styles */
.search-wrapper {
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.create-station-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  align-self: center; /* This will vertically align the button with search bar */
}

.create-station-button:hover {
  background-color: #45a049;
}

.search-input-wrapper {
  position: relative;
  width: 80%;
  max-width: 500px;
}

.search-clear-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%) translateX(-20px);
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0px;
}

.search-clear-btn:hover {
  color: white;
}

.search-bar {
  width: calc(100% - 32px);
  padding: 12px 16px 12px 16px;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 20px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
}

.search-bar:focus {
  border-color: #4caf50;
}

.search-results {
  margin-top: 20px;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #1e1e1e;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.search-result-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.result-image-placeholder {
  height: 90px;
  width: 90px;
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 15px;
}

.station-icon {
  font-size: 2rem;
  opacity: 0.7;
}

.result-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.station-info {
  padding: 15px;
}

.station-info h4 {
  margin: 0 0 8px 0;
  font-size: 1.1rem;
}

.station-genre {
  margin: 0 0 8px 0;
  color: #aaa;
  font-size: 0.9rem;
}

.station-listeners {
  margin: 0;
  color: #4caf50;
  font-size: 0.85rem;
}

.play-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 0.3s;
}

.play-btn:hover {
  background-color: #45a049;
}